@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <H1>Кликните мышкой по экрану</H1>
    <p>x = <span id="pos-x"></span>, y = <span id="pos-y"></span></p>
    <div id="word" class="no">Данные успешно записаны!</div>

</div>
